@charset "UTF-8";
/*reset*/
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select, figure, figcaption {
  margin: 0;
  padding: 0; }

em {
  font-style: normal; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

img {
  border: none;
  vertical-align: baseline;
  display: block; }

table {
  border-collapse: collapse; }

textarea {
  resize: none;
  overflow: hidden; }

body {
  font-family: '微软雅黑';
  font-size: 14px;
  box-sizing: border-box; }

.ahover {
  color: #d31b26 !important;
  text-decoration: none !important; }

header {
  height: 100%;
  margin: 0;
  padding: 0;
  height: 28px;
  background-color: #FAFAFA;
  width: 100%; }
  header #toubu {
    width: 1000px;
    height: 100%;
    margin: 0 auto; }
    header #toubu .topleft {
      float: left; }
      header #toubu .topleft li {
        float: left;
        font-size: 12px;
        border-right: 1px solid #666666;
        line-height: 12px;
        margin-top: 10px;
        margin-left: 10px; }
        header #toubu .topleft li img {
          margin-top: -10px; }
        header #toubu .topleft li a {
          margin: 10px;
          text-decoration: none; }
      header #toubu .topleft .xing {
        border: 0;
        margin-left: 0px; }
      header #toubu .topleft .welcome {
        border: 0; }
        header #toubu .topleft .welcome span {
          color: #d41f2b;
          margin-right: 5px; }
        header #toubu .topleft .welcome a {
          margin: 0; }
      header #toubu .topleft .qklogins {
        border-right: 0;
        position: relative; }
        header #toubu .topleft .qklogins .hover {
          top: -5px;
          background: url("../img/toubu/icon_top.png") no-repeat 0px -160px; }
        header #toubu .topleft .qklogins b {
          position: absolute;
          right: -12px;
          top: -8px;
          z-index: 4900;
          height: 26px;
          width: 20px;
          background: url("../img/toubu/icon_top.png") no-repeat 5px 11px; }
        header #toubu .topleft .qklogins dd {
          display: none;
          position: absolute;
          top: 17px;
          right: -7px;
          z-index: 4850;
          width: 113px;
          border: 1px solid #ccc;
          background-color: #FFF; }
          header #toubu .topleft .qklogins dd li {
            float: none;
            margin: 0;
            width: 113px;
            height: 26px;
            line-height: 26px;
            border-bottom: 1px solid #ccc;
            background-color: #f0f0f0; }
  header .topright {
    float: right;
    font-size: 12px; }
    header .topright ul li {
      margin-top: 10px;
      line-height: 12px;
      float: left; }
      header .topright ul li img {
        margin-top: -10px; }
      header .topright ul li span {
        margin: 10px; }
      header .topright ul li a {
        margin: 10px;
        text-decoration: none;
        width: 50px; }
        header .topright ul li a strong {
          color: #D11D30; }
    header .topright ul .xian {
      border-right: 1px solid #666666; }

/*
	上面是头部的样式
 */
#daohang {
  height: 98px;
  width: 1000px;
  margin: 0 auto;
  position: relative; }
  #daohang .shopheader {
    display: block;
    position: absolute;
    width: 193px;
    height: 67px;
    background: url("../img/toubu/toubu1.png");
    left: 0;
    top: 15px; }
  #daohang .shopheadsearch {
    position: absolute;
    left: 210px;
    top: 20px;
    width: 460px;
    height: 34px; }
    #daohang .shopheadsearch .fdj {
      background: url("../img/toubu/daohang.png");
      width: 34px;
      height: 34px;
      z-index: -9999px;
      float: left; }
    #daohang .shopheadsearch .guanjian {
      float: left;
      height: 34px;
      width: 340px;
      color: #cccccc;
      border-top: 2px solid #c20525;
      border-bottom: 2px solid #c20525;
      border-left: 0 none;
      border-right: 0 none;
      outline: none; }
    #daohang .shopheadsearch .btn {
      float: left;
      width: 85px;
      height: 34px;
      background: url("../img/toubu/daohang.png") no-repeat right center;
      text-indent: -9999px;
      border: 0 none; }
  #daohang .shopkeyword {
    position: absolute;
    left: 220px;
    top: 56px; }
    #daohang .shopkeyword a {
      font-size: 12px;
      color: #999;
      margin-right: 10px;
      text-decoration: none; }
  #daohang .adver {
    position: absolute;
    right: 32px;
    top: 18px;
    width: 294px;
    height: 60px; }
    #daohang .adver a {
      float: left;
      text-decoration: none; }

/*
	导航栏css样式
 */
.shopnavwrap {
  width: 100%;
  height: 35px;
  position: relative;
  background: #CF1B1B; }
  .shopnavwrap .shopnav {
    width: 1000px;
    margin: 0 auto;
    z-index: 3000; }
    .shopnavwrap .shopnav .yanse {
      background-color: #A90A0A; }
    .shopnavwrap .shopnav ul {
      float: left; }
      .shopnavwrap .shopnav ul li {
        float: left;
        margin: 0 10px;
        font-size: 16px;
        line-height: 35px; }
        .shopnavwrap .shopnav ul li a {
          color: #FAFAFA; }
          .shopnavwrap .shopnav ul li a .hover {
            color: #d31b26; }
          .shopnavwrap .shopnav ul li a span {
            padding: 0 24px 0 12px; }
      .shopnavwrap .shopnav ul .jifen {
        position: relative; }
        .shopnavwrap .shopnav ul .jifen img {
          position: absolute;
          right: -20px;
          top: -5px; }
      .shopnavwrap .shopnav ul .jifen1 {
        position: relative; }
        .shopnavwrap .shopnav ul .jifen1 img {
          position: absolute;
          right: -20px;
          top: -5px; }
      .shopnavwrap .shopnav ul .a1 {
        background-color: #A90A0A; }
      .shopnavwrap .shopnav ul span {
        float: left; }

#dialog {
  border: 4px solid #CCC;
  position: fixed;
  top: 0;
  left: 0; }
  #dialog .shop {
    width: 550px;
    border: 2px solid #d11824; }
    #dialog .shop .title {
      height: 38px;
      line-height: 20px;
      background-color: #f7f4f7;
      border-bottom: 1px solid #d9d9d9;
      padding: 10px; }
      #dialog .shop .title h2 {
        float: left;
        font-size: 14px;
        font-weight: bold;
        color: #d11824; }
      #dialog .shop .title span {
        float: right;
        display: inline-block;
        width: 18px;
        height: 17px;
        background: url("../img/gouwu/close.png") no-repeat left center;
        cursor: pointer;
        text-indent: -9999px; }
  #dialog .count {
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px; }
    #dialog .count .select {
      width: 500px;
      margin: 20px;
      margin-top: 0; }
      #dialog .count .select dt {
        width: 500px;
        color: #000;
        margin-bottom: 5px;
        line-height: 22px; }
      #dialog .count .select dd {
        width: 500px;
        margin-bottom: 10px;
        display: block; }
        #dialog .count .select dd .num {
          display: block;
          height: 26px; }
        #dialog .count .select dd .add, #dialog .count .select dd .reduce {
          text-align: center;
          width: 12px;
          height: 22px;
          border: 1px solid #ccc;
          line-height: 22px;
          background-color: #CCC;
          float: left; }
        #dialog .count .select dd .inp {
          float: left;
          background-color: #fff;
          border: 1px solid #ccc;
          height: 22px;
          line-height: 18px;
          padding: 1px 3px;
          font-family: Tahoma;
          font-size: 12px;
          width: 40px; }
        #dialog .count .select dd li {
          float: left;
          margin-right: 20px;
          margin-bottom: 10px;
          border: 1px solid #dedede;
          padding: 3px 6px;
          line-height: 20px;
          color: #555;
          white-space: nowrap;
          cursor: pointer; }
      #dialog .count .select .btn {
        float: left;
        width: 110px;
        height: 33px;
        line-height: 33px;
        border: none;
        background: url("../img/gouwu/shop1.png") no-repeat 0px 0px;
        cursor: pointer;
        text-indent: -9999px; }
      #dialog .count .select .btn1 {
        float: right;
        width: 110px;
        height: 33px;
        line-height: 33px;
        border: none;
        background: url("../img/gouwu/shop2.png") no-repeat 0px -33px;
        cursor: pointer;
        text-indent: -9999px; }

/*
 详情页样式
 */
#bdw {
  background-color: #f7f7f7;
  margin-top: -6px; }
  #bdw .bd {
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 40px; }
    #bdw .bd .shopping {
      width: 1000px;
      padding-top: 10px;
      margin-bottom: 20px; }
      #bdw .bd .shopping .shop {
        width: 1000px;
        height: 30px;
        background: url("../img/toubu/shop.png") repeat-x left center;
        margin-bottom: 60px; }
        #bdw .bd .shopping .shop li {
          float: left;
          width: 330px;
          text-align: center;
          padding-top: 35px;
          color: #555;
          background-image: url("../img/toubu/li.png");
          background-repeat: no-repeat;
          font-size: 12px; }
        #bdw .bd .shopping .shop .mu01 {
          background-position: 152px 5px; }
        #bdw .bd .shopping .shop .mu02 {
          background-position: 152px -55px; }
        #bdw .bd .shopping .shop .mu03 {
          background-position: 152px -115px; }
      #bdw .bd .shopping .shoptable {
        width: 998px;
        border: 1px solid #e2dee2;
        margin-bottom: 20px; }
        #bdw .bd .shopping .shoptable th {
          border: 1px solid #e2dee2;
          font-size: 12px;
          line-height: 20px;
          color: #5e5058;
          text-align: center;
          padding: 5px 10px;
          background-color: #faf7f8;
          font-weight: bold; }
        #bdw .bd .shopping .shoptable td {
          border: 1px solid #e2dee2;
          padding: 10px;
          background-color: #FFF;
          text-align: center; }
          #bdw .bd .shopping .shoptable td a {
            text-decoration: none;
            color: #555; }
          #bdw .bd .shopping .shoptable td .select {
            display: block;
            height: 26px;
            line-height: 24px; }
          #bdw .bd .shopping .shoptable td .add, #bdw .bd .shopping .shoptable td .reduce {
            text-align: center;
            width: 12px;
            height: 22px;
            border: 1px solid #ccc;
            line-height: 22px;
            background-color: #CCC; }
          #bdw .bd .shopping .shoptable td .inp4 {
            width: 40px;
            height: 22px;
            text-align: center; }
          #bdw .bd .shopping .shoptable td input {
            float: left; }
          #bdw .bd .shopping .shoptable td .font {
            margin-left: 20px; }
            #bdw .bd .shopping .shoptable td .font span {
              color: red; }
        #bdw .bd .shopping .shoptable .align {
          text-align: right; }
      #bdw .bd .shopping .clear {
        width: 340px;
        float: right;
        margin-bottom: 30px;
        margin-right: 30px; }
        #bdw .bd .shopping .clear .btn1 {
          background: url("../img/dibu/goshop.png") no-repeat;
          margin-left: 30px;
          float: left;
          display: inline-block;
          width: 140px;
          height: 39px;
          text-align: center;
          text-indent: -9999px;
          border: none; }
        #bdw .bd .shopping .clear .btn2 {
          background: url("../img/dibu/goshop1.png") no-repeat;
          margin-left: 30px;
          float: right;
          display: inline-block;
          width: 140px;
          height: 39px;
          text-align: center;
          text-indent: -9999px;
          border: none; }

.gds-bigzoom img {
  min-width: 1000px; }

.ifoot {
  width: 1000px;
  margin: 0 auto; }
  .ifoot .tao {
    background: url("../img/neirong/xixian.jpg") no-repeat center center;
    height: 19px; }
    .ifoot .tao a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      line-height: 19px;
      margin-left: 470px;
      text-align: center; }
  .ifoot .sort li {
    width: 142px;
    background: url("../img/dibu/xian.jpg") no-repeat right bottom;
    height: 160px;
    float: left;
    margin: 0 10px; }
    .ifoot .sort li p {
      text-align: center;
      font-family: "微软雅黑";
      font-weight: bold; }
    .ifoot .sort li img {
      width: 141px;
      height: 100px; }
    .ifoot .sort li a {
      display: block;
      width: 65px;
      height: 24px;
      text-align: center;
      float: left;
      color: #5f5e5f; }

/*
 底部样式
 */
.ftw {
  width: 100%;
  padding: 25px 0 50px 0;
  background-color: #f7f7f7; }
  .ftw .fw {
    width: 1000px;
    margin: 0 auto; }
    .ftw .fw .fw_wrap {
      height: 131px;
      margin-bottom: 20px;
      color: #999; }
      .ftw .fw .fw_wrap .ft_h1 {
        float: left;
        width: 185px;
        height: 130px;
        border-right: 1px solid #e9e1e8; }
        .ftw .fw .fw_wrap .ft_h1 h2 {
          background: url("../img/dibu/ft.png") no-repeat 0px 0px; }
        .ftw .fw .fw_wrap .ft_h1 ul {
          margin-left: 60px; }
      .ftw .fw .fw_wrap .ft_h2 {
        float: left;
        width: 185px;
        height: 130px;
        border-right: 1px solid #e9e1e8; }
        .ftw .fw .fw_wrap .ft_h2 h2 {
          background: url("../img/dibu/ft.png") no-repeat 0px -50px; }
        .ftw .fw .fw_wrap .ft_h2 ul {
          margin-left: 60px; }
      .ftw .fw .fw_wrap .ft_h3 {
        float: left;
        width: 185px;
        height: 130px;
        border-right: 1px solid #e9e1e8; }
        .ftw .fw .fw_wrap .ft_h3 h2 {
          background: url("../img/dibu/ft.png") no-repeat 0px -100px; }
        .ftw .fw .fw_wrap .ft_h3 ul {
          margin-left: 60px; }
      .ftw .fw .fw_wrap .ft_h4 {
        float: left;
        width: 185px;
        height: 130px;
        border-right: 1px solid #e9e1e8; }
        .ftw .fw .fw_wrap .ft_h4 h2 {
          background: url("../img/dibu/ft.png") no-repeat 0px -150px; }
        .ftw .fw .fw_wrap .ft_h4 ul {
          margin-left: 60px; }
      .ftw .fw .fw_wrap .ft_h5 {
        float: left;
        width: 252px;
        height: 100%;
        border-left: 1px solid #fdfdfd;
        background: url("../img/dibu/xi.png") no-repeat center 35px;
        color: #999; }
        .ftw .fw .fw_wrap .ft_h5 h2 {
          width: 178px;
          font-size: 18px;
          background: url("../img/dibu/ft.png") no-repeat 0px -200px;
          margin-bottom: 20px; }
          .ftw .fw .fw_wrap .ft_h5 h2 span {
            font-size: 12px; }
        .ftw .fw .fw_wrap .ft_h5 .phone {
          width: 158px;
          height: 5px;
          line-height: 28px;
          padding-top: 25px;
          background-image: url("../img/dibu/tu.png");
          margin: 0px auto 5px;
          background-repeat: no-repeat;
          background-position: 0px -154px; }
      .ftw .fw .fw_wrap h2 {
        width: 97px;
        height: 26px;
        line-height: 26px;
        padding-left: 30px;
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #c95c61; }
        .ftw .fw .fw_wrap h2 li {
          padding-left: 8px;
          line-height: 22px; }
      .ftw .fw .fw_wrap a {
        color: #999;
        text-decoration: none; }
      .ftw .fw .fw_wrap .qqlian {
        font-size: 14px;
        text-align: center;
        font-weight: bold; }
      .ftw .fw .fw_wrap .time {
        text-align: center;
        font-size: 12px;
        line-height: 24px; }
  .ftw .ft_links {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #d31c28;
    margin-bottom: 10px; }
    .ftw .ft_links .ft_L {
      width: 1000px;
      margin: 0 auto;
      text-align: center;
      color: #fff; }
      .ftw .ft_links .ft_L a {
        color: #fff;
        padding: 0 10px; }
  .ftw .ft_copy {
    width: 1000px;
    text-align: center;
    color: #999;
    line-height: 26px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 150px; }
  .ftw .ft_cert {
    width: 1000px;
    text-align: center;
    margin-left: 400px; }
    .ftw .ft_cert a {
      margin: 0 6px;
      float: left; }
      .ftw .ft_cert a img {
        width: 111px;
        height: 40px; }

#rightbar {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 9999;
  background-color: #FFF; }
  #rightbar .geren a {
    text-decoration: none; }
  #rightbar .geren .heise {
    position: absolute;
    left: -36px;
    top: 0px;
    width: 36px;
    height: 100%;
    border-right: 1px solid #CECECE;
    background-attachment: scroll;
    background-color: #000000;
    background-image: none;
    background-repeat: repeat;
    background-position: 0% 0%; }
    #rightbar .geren .heise .yahei {
      width: 36px;
      position: absolute;
      left: 0px;
      top: 30%;
      z-index: 10; }
      #rightbar .geren .heise .yahei .beijing {
        background-color: #a90a0a; }
      #rightbar .geren .heise .yahei a {
        text-align: center;
        display: block;
        color: #555;
        position: relative;
        margin-bottom: 10px;
        padding-top: 8px;
        padding-right: 4px;
        padding-bottom: 8px;
        padding-left: 4px; }
        #rightbar .geren .heise .yahei a i {
          display: block;
          width: 25px;
          height: 25px;
          margin: 0px auto;
          background-attachment: scroll;
          background-color: transparent;
          background-image: url("../img/gouwu/tubiao.png");
          background-repeat: no-repeat; }
        #rightbar .geren .heise .yahei a span {
          margin-top: 5px;
          display: block;
          line-height: 20px;
          font-family: "宋体";
          color: #FFFFFF;
          font-size: 12px; }
        #rightbar .geren .heise .yahei a #BarCart {
          display: inline-block;
          width: 20px;
          line-height: 20px;
          border-radius: 50%;
          color: #FFFFFF;
          background-attachment: scroll;
          background-color: #a90a0a;
          background-image: none;
          background-repeat: repeat;
          background-position: 0% 0%;
          margin-top: 3px; }
        #rightbar .geren .heise .yahei a .n2 {
          background-position: 0px -25px; }
        #rightbar .geren .heise .yahei a .n3 {
          background-position: 0px -50px; }
        #rightbar .geren .heise .yahei a .n4 {
          background-position: 0px -75px; }
  #rightbar .right h4 {
    height: 41px;
    line-height: 41px;
    font-size: 14px;
    border-bottom: 1px solid #E5E5E5;
    margin: 0px 20px 0px 5px; }
  #rightbar .right li {
    position: relative;
    padding: 15px 0px;
    border-bottom: 1px dashed #CCC; }
    #rightbar .right li h4 {
      height: 41px;
      line-height: 41px;
      font-size: 14px;
      border-bottom: 1px solid #E5E5E5;
      margin: 0px 20px 0px 5px;
      color: red; }
    #rightbar .right li span {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px; }
      #rightbar .right li span:hover {
        background-color: #f00;
        color: #fff; }
  #rightbar .right .fudong {
    color: #F64E68; }
  #rightbar .right img {
    float: left;
    border: 1px solid #DDD;
    padding: 2px;
    margin: 0px 10px 0px 0px;
    width: 68px;
    height: 50px; }
  #rightbar .right p {
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    margin-top: 12px; }

.xixi {
  background: #f7f7f7; }
